.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 3rem 0;
}

.degrees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.degreesInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.line {
  border-radius: 50px;
  width: 250px;
  height: 2px;
  background-color: rgb(231, 231, 231);
  margin: 2rem;
}

.box p {
  font-size: 4rem;
}

.box span {
  font-size: 1.5rem;
  margin-top: 10px;
}

.box {
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.dayHour {
  font-size: 1.2rem;
}

.dmy {
  font-size: .8rem;
}

.local h5 {
  font-size: 2rem;
  font-weight: 300;
  padding-top: 2rem;
}

.inputWrapper {
  width: 400px;
  background-color: rgb(231, 231, 231);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.inputWrapper input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.right {
  background-color: rgb(231, 231, 231);
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 3rem 0;
  /* justify-content: space-between; */
}

.title h1 {
  padding: 0 0 1rem 3rem;
  font-size: 2rem;
  font-weight: 400;
}

.card {
  background-color: #6499E9;
  margin: 20px;
  border-radius: 20px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffff;
}

.infoOne {
  font-size: 1.2rem;
}

.infoTwo {
  font-size: 2rem;
  font-weight: 500;
}

.cards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 230px 230px 230px;
  justify-content: space-around;

}

@media (min-width: 320px) and (max-width: 1120px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .left {
    width: 100%;
    align-items: center;
  }

  .right {
    width: 100%;
    height: fit-content;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-around;

  }

  .card {
    margin: 10px;
  }

  .inputWrapper {
    width: 350px;
  }

  .title h1 {
    padding: 1;
  }
}