.card {
    background-color: #6499E9;
    margin: 20px;
    border-radius: 20px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
}

.infoOne {
    font-size: 1.2rem;
}

.infoTwo {
    font-size: 2rem;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 1120px) {
    .card {
        margin: 5px;
        padding: 1.5rem;
    }
}