.inputWrapper {
    width: 400px;
    background-color: rgb(231, 231, 231);
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.inputWrapper input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.inputWrapper img {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1120px) {
    .inputWrapper {
        width: 350px;
    }

}